$white: #fff;
$black: #000;
$light: #ebedef;
$primary: #002845;
$primary-red: #fb004f;
$primary-blue: #1ffca2;
$primary-orange: #fd5438;
$primary-purple: #19051e;
$secondary: #fbc201;
$success: #22ad16;
$danger: #ff0b0b;
$gray: #dbdbdb;

$body-bg: $primary-purple;

$font-xs: 12px;
$font-s: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl:28px;
$font-xxl:32px;
$font-mega:64px;
$font-ultra:128px;


// IDE
$js-variable: #4FC1FF;
$js-constant: #569cd6;
$js-parameter:#9CDCFE;
$js-special-keywords: #C586C0;
$js-regular:#CE9178;
$newOperator:#C586C0;
$stringLiteral:#ce9178;
$customLiteral:#DCDCAA;
$numberLiteral:#b5cea8;
$js-bg:#1e1e1e;
